<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd http://www.nlog-project.org/schemas/NLog.xsd">

	<targets>

		<!-- Info log file -->
		<target name="infoFile" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyyMMdd}/Info.log"
				layout="${longdate} | ${level} | ${message} ${exception}"
				keepFileOpen="false" />

		<!-- Error log file -->
		<target name="errorFile" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyyMMdd}/Error.log"
				layout="${longdate} | ${level} | ${message} ${exception}"
				keepFileOpen="false" />

		<!--
		- `${basedir}` 代表執行檔所在目錄。
		- `${date:format=yyyyMMdd}` 用來根據當前日期生成資料夾目錄。
		- `Info.log` 和 `Error.log` 分別是 Info 和 Error 等級的 Log 文件名稱。
		- `layout` 屬性定義了每條 log 記錄的格式，可以根據需要進行調整。
		
		keepFileOpen="false"：此設定會在每次寫入日誌後關閉檔案。
		這會導致稍微較低的效能，因為每次寫入都會重新開啟檔案，但它可以確保檔案在寫入過程中不會被長時間佔用，
		對於多個應用程式訪問檔案的情況會更安全。
		
		keepFileOpen="true"：此設定在每次寫入日誌時不會關閉檔案。
		這有助於提高寫入性能，因為寫入操作會更高效，不需要每次都打開和關閉檔案。
		這樣的設置通常適用於較高頻繁的日誌寫入，但它也可能會造成文件長時間被佔用，
		尤其是在應用程式運行期間檔案可能會被鎖定，無法被其他應用程序訪問。
		-->

	</targets>

	<rules>
		<!-- Log Info level and above to Info file -->
		<logger name="*" minlevel="Info" MaxLevel="Info" writeTo="infoFile" />
		<!--MaxLevel="Info"：限制了該規則僅記錄 Info 級別的日誌
		並過濾掉 Warn、Error、Fatal 級別的日誌。-->
		
		<!-- Log Error level and above to Error file -->
		<logger name="*" minlevel="Error" writeTo="errorFile" />

		<!--
		當 NLog 記錄日誌時：
		Info 記錄規則：會將 Info、Warn、Error 等級的日誌都寫入 Info 檔案。
		Error 記錄規則：會將 Error、Fatal 等級的日誌寫入 Error 檔案。
		-->

	</rules>
</nlog>
